<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Fidex</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

    <link rel="stylesheet" type="text/css" href="../static/css/fidex.css" th:href="@{/css/fidex.css}">
    <script th:src="@{/js/progress.js}" src="../static/js/progress.js"></script>
</head>

<body>

    <!-- Conteudo Principal -->
    <div class="col" layout:fragment="main-content"></div>

    <script>
        const inputs = document.querySelectorAll(".input-group input");
        inputs.forEach((input) => {
            input.addEventListener("change", () => {
                if (input.value) {
                    input.classList.add("filled");
                } else {
                    input.classList.remove("filled");
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const formSubmitButton = document.querySelector('.form input[type="submit"]');
            formSubmitButton.style.backgroundColor = "var(--load)";
        });
    </script>
</body>

</html>