<div id="clientes" class="tiles">
    <article class="tile" th:each="client : ${pagina.conteudo}">
        <a id="remover">
            <form th:action="@{/clientes/remover}" method="POST">
                <input type="hidden" name="id" th:value="${client.id}">
                <button type="submit">
                    <span class="icon-button">
                        <i class="ph ph-x"></i>
                    </span>
                </button>
            </form>
        </a>
        <div class="tile-header">

            <h3 th:text="${client.name}"></h3>
            <div class="customer-data">
                <span>
                    <i class="ph ph-whatsapp-logo"></i>
                    <span class="cpf" th:text="${client.phone}"></span>
                </span>
                <span>
                    <i class="ph ph-identification-card"></i>
                    <span th:text="${client.cpf}"></span>
                </span>
            </div>
        </div>
        <div class="customer-stats">
            <i><span th:text="${client.points}"></span> pontos</i>
        </div>

    </article>


</div>