<div id="premios" class="tiles">
    <article class="tile" th:each="prize : ${pagina.conteudo}">
        <a id="remover">
            <form th:action="@{/premios/remover}" method="POST">
                <input type="hidden" name="id" th:value="${prize.id}">
                <button type="submit">
                    <span class="icon-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000"
                            viewBox="0 0 256 256">
                            <path
                                d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z">
                            </path>
                        </svg>
                    </span>
                </button>
            </form>
        </a>
        <div class="tile-header">
            <!-- Date and Phone on top -->
            <div class="customer-data" style="margin-bottom: 8px;">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256">
                        <path
                            d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z">
                        </path>
                    </svg>
                    <span th:text="${prize.date}"></span>
                </span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256">
                        <path
                            d="M187.58,144.84l-32-16a8,8,0,0,0-8,.5l-14.69,9.8a40.55,40.55,0,0,1-16-16l9.8-14.69a8,8,0,0,0,.5-8l-16-32A8,8,0,0,0,104,64a40,40,0,0,0-40,40,88.1,88.1,0,0,0,88,88,40,40,0,0,0,40-40A8,8,0,0,0,187.58,144.84Z">
                        </path>
                    </svg>
                    <span th:text="${prize.client.phone}"></span>
                </span>
            </div>
            <!-- Client name below -->
            <h3 th:text="${prize.client.name}"></h3>
        </div>
        <!-- Prize name as pill -->
        <div class="customer-stats">
            <span class="prize-pill" th:text="${prize.product.name}"></span>
        </div>

    </article>

</div>