<div id="premios" class="tiles">
    <article class="tile" th:each="prize : ${pagina.conteudo}">
        <a id="remover">
            <form th:action="@{/premios/remover}" method="POST">
                <input type="hidden" name="id" th:value="${prize.id}">
                <button type="submit">
                    <span class="icon-button">
                        <svg width="16" height="16" fill="#000000">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </span>
                </button>
            </form>
        </a>
        <div class="tile-header">
            <!-- Date and Phone on top -->
            <div class="customer-data" style="margin-top: 0;">
                <span>
                    <svg width="16" height="16" fill="#000000">
                        <use xlink:href="#icon-calendar"></use>
                    </svg>
                    <span th:text="${prize.date}"></span>
                </span>
            </div>
            <!-- Client name below -->
            <h3 th:text="${prize.client.name}"></h3>
        </div>
        <!-- Prize name as pill -->
        <div class="customer-stats">
            <i th:text="${prize.product.name}" class="prize-pill"></i>
        </div>

    </article>

</div>