<div class="tiles" >
    <article class="tile" th:each="prize : ${pagina.conteudo}">
        <a id="remover">
            <form th:action="@{/premios/remover}" method="POST">
                <input type="hidden" name="id" th:value="${prize.id}">
                <button type="submit">
                    <span class="icon-button">
                        <i class="ph ph-x"></i>
                    </span>
                </button>
            </form>
        </a>
        <div class="tile-header">
            <h3 th:text="${prize.client.name}"></h3>
            <div class="customer-data">
                <span>
                    <i class="ph ph-whatsapp-logo"></i>
                    <span class="cpf" th:text="${prize.client.phone}"></span>
                </span>
                <span>
                    <i class="ph ph-identification-card"></i>
                    <span th:text="${prize.client.cpf}"></span>
                </span>
            </div>
        </div>
        <div class="customer-stats">
            <i><span th:text="${prize.product.name}"></span></i>
            <span th:text="${prize.date}"></span>
        </div>
        
    </article>
    
</div>