<div id="produtos" class="tiles">
    <article class="tile" th:each="product : ${pagina.conteudo}">
        <a id="remover">
            <form th:action="@{/produtos/remover}" method="POST">
                <input type="hidden" name="id" th:value="${product.id}">
                <button type="submit">
                    <span class="icon-button">
                        <svg width="16" height="16" fill="#000000">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </span>
                </button>
            </form>
        </a>
        <div class="tile-header">
            <div class="product-data">
                <span>
                    <svg width="20" height="20" fill="#000000">
                        <use xlink:href="#icon-product"></use>
                    </svg>
                    <span><span th:text="${product.quantity}"></span> itens restantes</span>
                </span>
            </div>
            <h3 th:text="${product.name}"></h3>

        </div>
        <div class="customer-stats">
            <!-- <i><span th:text="${client.points}"></span> pontos</i> -->
            <i><span th:text="${product.points}">0</span> pontos necessários</i>
        </div>

    </article>

</div>