<div id="compras" class="tiles">
    <article class="tile" th:each="purchase : ${pagina.conteudo}">
        <a id="remover">
            <form th:action="@{/compras/remover}" method="POST">
                <input type="hidden" name="id" th:value="${purchase.id}">
                <button type="submit">
                    <span class="icon-button">
                        <svg width="16" height="16" fill="#000000">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </span>
                </button>
            </form>
        </a>
        <div class="tile-header">
            <div class="product-data" style="margin-bottom: 8px;">
                <span>
                    <svg width="16" height="16" fill="#000000">
                        <use xlink:href="#icon-calendar"></use>
                    </svg>
                    <span th:text="${purchase.date}"></span>
                </span>
            </div>
            <h3 th:text="${purchase.client.name}"></h3>

        </div>
        <div class="customer-stats">
            <i><span th:text="${purchase.points}"></span> pontos</i>
            <i><span th:text="${purchase.price}"></span></i>

        </div>

    </article>

</div>