<div id="compras" class="tiles">
    <article class="tile" th:each="purchase : ${pagina.conteudo}">
        <a id="remover">
            <form th:action="@{/compras/remover}" method="POST">
                <input type="hidden" name="id" th:value="${purchase.id}">
                <button type="submit">
                    <span class="icon-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000"
                            viewBox="0 0 256 256">
                            <path
                                d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z">
                            </path>
                        </svg>
                    </span>
                </button>
            </form>
        </a>
        <div class="tile-header">
            <div class="product-data">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
                        <path
                            d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-38.34-85.66a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L116,164.69l42.34-42.35A8,8,0,0,1,169.66,122.34Z">
                        </path>
                    </svg>
                    <span th:text="${purchase.date}"></span>
                </span>
            </div>
            <h3 th:text="${purchase.client.name}"></h3>

        </div>
        <div class="customer-stats">
            <i><span th:text="${purchase.points}"></span> pontos</i>
            <i><span th:text="${purchase.price}"></span></i>

        </div>

    </article>

</div>