<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/dashboard}" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cadastro de cliente</title>
</head>

<body>

    <div layout:fragment="main-content" class="app">
        <header class="app-header">
            <div th:replace="~{layout/fragments/logo}"></div>
            <div class="app-header-navigation">
                <div class="tabs">
                    <a href="#" class="active">
                        Últimos clientes
                    </a>
                    <a href="#">
                        Maior pontuação
                    </a>
                    <a href="#">
                        Mais antigos
                    </a>
                    <a href="#">
                        Nome do cliente
                    </a>
                </div>
            </div>
            <div class="app-header-actions">

                    
                    <label class="flat-button" for="modal-toggle">
                            <i class="ph ph-plus"></i>Novo cliente
                    </label>


                

                <!--  START Modal  -->  
                <div class="modal-container">
                    <input type="checkbox" id="modal-toggle">
                    <label class="modal-backdrop" for="modal-toggle"></label>
                    
                    <div class="modal-content">
                    <!-- Here your content -->
                    <h2>Novo cliente</h2>
                        <form th:action="@{/clientes/cadastrar}" method="POST" class="form">
                            <input type="hidden" name="id">
                            <input type="hidden" name="points">
                            <div class="input-group">
                                <input type="text" id="name" name="name" autofocus="autofocus" />
                                <label for="name">Nome completo</label>
                            </div>
                            <div class="input-group">
                                <input type="text" id="cpf" name="cpf" autofocus="autofocus" />
                                <label for="cpf">CPF</label>
                            </div>
                            <div class="input-group">
                                <input type="text" id="phone" name="phone" autofocus="autofocus" />
                                <label for="phone">WhatsApp</label>
                            </div>
                            <input type="submit" value="Cadastrar cliente" class="btn button_slide slide_right">
                        </form>
                    </div>
                </div>
                <!--  END Modal  -->


                <div th:replace="~{layout/fragments/actions}"></div>
            </div>
            <div class="app-header-mobile">
                <button class="icon-button large">
                    <i class="ph-list"></i>
                </button>
            </div>

        </header>
        <div class="app-body">
            <div class="app-body-navigation">
                <nav th:replace="~{layout/fragments/nav :: nav(opcao='clientes')}"></nav>
                <footer th:replace="~{layout/fragments/footer}"></footer>
            </div>
            <div class="app-body-main-content">
                <section class="service-section">
                    <div class="tiles" th:replace="~{layout/fragments/clients}"></div>
                    <div class="service-section-footer">
                        <i class="ph ph-arrow-left"></i>
                        <p>1-9 de 56 resultados.</p>
                        <i class="ph ph-arrow-right"></i>
                    </div>
                </section>
            </div>
        </div>

    </div>

</body>

</html>