<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/dashboard}" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org">

<head>
    <title>Cadastro de compras</title>
</head>

<body>

    <div layout:fragment="main-content" class="app">
        <header class="app-header">
            <div th:replace="~{layout/fragments/logo}"></div>
            <div class="app-header-navigation">
                <div class="tabs">
                    <a href="#" class="active">
                        Últimas compras
                    </a>
                    <a href="#">
                        Maior valor
                    </a>
                    <a href="#">
                        Nome do cliente
                    </a>
                </div>
            </div>
            <div class="app-header-actions">
                <!--  Modal  -->
                <label class="flat-button" for="modal-toggle">
                    <i class="ph ph-plus"></i>Nova compra
                </label>


                <div class="modal-container">
                    <input type="checkbox" id="modal-toggle">
                    <label class="modal-backdrop" for="modal-toggle"></label>

                    <div class="modal-content">
                        <!-- Content -->
                        <h2>Nova compra</h2>
                        <form th:action="@{/compras/cadastrar}" method="POST" class="form">
                            <input type="hidden" name="id">
                            <input type="hidden" name="date" id="dateInput">
                            <div class="input-group">
                                <select id="client" name="client">
                                    <option th:each="client : ${clients}" th:value="${client.id}"
                                        th:text="${client.name}"></option>
                                </select>
                                <label for="client">Cliente</label>
                            </div>
                            <div class="input-group">
                                <input type="number" id="price" name="price" autofocus="autofocus" />
                                <label for="price">Valor total</label>
                            </div>

                            <input type="hidden" name="points" id="pointsInput">

                            <input type="submit" value="Cadastrar compra" class="btn button_slide slide_right">
                        </form>
                    </div>
                </div>
                <!--  Modal  -->
                <div class="app-header-actions-buttons">
                    <a th:href="@{/relatorios/compras}" style="text-decoration: none;">
                        <button class="icon-button large">
                            <i class="ph-file-pdf"></i>
                        </button>
                    </a>


                    <form action="#" th:action="@{/logout}" method="post">
                        <button class="icon-button large">
                            <i class="ph ph-sign-out"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="app-header-mobile">
                <button class="icon-button large">
                    <i class="ph-list"></i>
                </button>
            </div>

        </header>
        <div class="app-body">
            <div class="app-body-navigation">
                <nav th:replace="~{layout/fragments/nav :: nav(opcao='compras')}"></nav>
                <footer th:replace="~{layout/fragments/footer}"></footer>
            </div>
            <div class="app-body-main-content">
                <section class="service-section">
                    <div class="tiles" th:replace="~{layout/fragments/purchases}"></div>
                </section>
            </div>
        </div>
    </div>

    <script>
        var currentDate = new Date();
        var formattedDate = currentDate.toISOString(); // Example: "2023-07-02T22:46:24.000Z"
        document.getElementById("dateInput").value = formattedDate;

        document.getElementById("price").addEventListener("change", function () {
            var price = document.getElementById("price").value;
            var points = price * 5 / 100;
            document.getElementById("pointsInput").value = points;
        });

    </script>


</body>

</html>