<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Mensagem</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar(opcao=${opcao})}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">

                <h1 th:text="${mensagem}"></h1>

			</div>
		</main>
		<!-- !conteudo principal -->

	</div>

</body>
</html>