<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/dashboard}" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org">

<head>
    <title>Cadastro de prêmios</title>
</head>

<body>

    <div layout:fragment="main-content" class="app">
        <header class="app-header">
            <div th:replace="~{layout/fragments/logo}"></div>
            <div class="app-header-navigation">
                <div class="tabs">
                    <a href="#" class="active">
                        Últimos prêmios
                    </a>
                    <a href="#">
                        Mais antigos
                    </a>
                    <a href="#">
                        Nome do cliente
                    </a>
                </div>
            </div>
            <div class="app-header-actions">
                <!--  Modal  -->
                <label class="flat-button" for="modal-toggle">
                    <i class="ph ph-plus"></i>Nova premiação
                </label>


                <div class="modal-container">
                    <input type="checkbox" id="modal-toggle">
                    <label class="modal-backdrop" for="modal-toggle"></label>

                    <div class="modal-content">
                        <!-- Content -->
                        <h2>Nova premiação
                        </h2>
                        <form th:action="@{/premios/cadastrar}" method="POST" class="form">
                            <input type="hidden" name="id">
                            <input type="hidden" name="date" id="dateInput">
                            <div class="input-group">
                                <select id="client" name="client">
                                    <option th:each="client : ${clients}" th:value="${client.id}"
                                        th:text="${client.name}"></option>
                                </select>
                                <label for="client">Cliente</label>
                            </div>
                            <div class="input-group">
                                <select id="product" name="product">
                                    <option th:each="product : ${products}" th:value="${product.id}"
                                        th:text="${product.name}"></option>
                                </select>
                                <label for="product">Produto</label>
                            </div>
                            <input type="submit" value="Cadastrar premiação" class="btn button_slide slide_right">
                        </form>
                    </div>
                </div>
                <!--  Modal  -->
                <div th:replace="~{layout/fragments/actions}"></div>
            </div>
            <div class="app-header-mobile">
                <button class="icon-button large">
                    <i class="ph-list"></i>
                </button>
            </div>

        </header>
        <div class="app-body">
            <div class="app-body-navigation">
                <nav th:replace="~{layout/fragments/nav :: nav(opcao='premios')}"></nav>
                <footer th:replace="~{layout/fragments/footer}"></footer>
            </div>
            <div class="app-body-main-content">
                <section class="service-section">
                    <div class="tiles" th:replace="~{layout/fragments/prizes}"></div>
                    <div class="service-section-footer">
                        <i class="ph ph-arrow-left"></i>
                        <p>1-9 de 16 resultados.</p>
                        <i class="ph ph-arrow-right"></i>
                    </div>
                </section>
            </div>
        </div>
    </div>

</body>

</html>